{% extends 'home.html' %}
{% load static %}

{% block settings %}
    <div class="setting-container">
        <div class="settingsHeader">
            <span>Settings</span>
            <a href="#">x</a>
        </div>
        <div class="settingsContent">
            <div class="section-display">
                <span>Display</span>
                <div class="display-options">
                    <i class="fa-solid fa-sun fa-lg"></i>
                    <i class="fa-solid fa-moon fa-lg"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}